* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    font-family: "Inter", sans-serif;
}

/* Navigation Bar */

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 12%;
    padding: 0 7rem;
    background-color: #0E0F23;
    position: fixed;
    top: 0;
    z-index: 9;
}

.logo-div {
    font-weight: 650;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0090e4;
}

.logo-div P {
    color: #3BB3FF;
}

.navbar .logo-div img {
    width: 5rem;
}

.menu-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.menu-div li {
    list-style-type: none;
    font-weight: 500;
    padding: 1rem;
    letter-spacing: 0.1rem;
}

.menu-div li:hover {
    background-image: linear-gradient(125deg, #0090e4, #70cbff);
    color: #ffffff;
    padding: 0.6rem 1rem;
    border-radius: 2rem;
    transition: 0.6s;
}

.social-div {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1rem;
    gap: 3rem;
    color: #ffffff;
}

.social-div a {
    padding: 0.6rem 1rem;
    font-size: 1.1rem;
}

.social-div a:hover {
    background-image: linear-gradient(125deg, #0090e4, #70cbff);
    color: #ffffff;
    border-radius: 2rem;
    transition: 0.6s;
}

.social-div .instagram:hover {
    background-image: linear-gradient(125deg, #BB01AD, #ee004f);
}

.button-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbtn {
    font-size: 30px;
    color: #ffffff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* Media Querie - Navbar */

@media screen and (max-width: 1167px) {

    .navbar {
        padding: 0 3rem;
    }

    .logo-div {
        font-size: 1.4rem;
    }

    .navbar .logo-div img {
        width: 4.5rem;
    }

    .menu-div {
        gap: 0rem;
    }

    .social-div {
        gap: 2rem;
    }
}

@media screen and (max-width: 950px) {

    .navbar {
        padding: 0 1rem;
    }

    .social-div {
        display: none;
    }
}


@media screen and (max-width: 768px) {

    .navbar {
        padding: 0 3rem;
    }

    .menu-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 12%;
        left: 0;
        width: 100%;
        height: 88%;
        background-color: #0E0F23;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
        z-index: 1;
    }

    .menu-div.show {
        transform: translateX(0%);
    }

    .menu-div li {
        display: block;
        padding: 1rem;
        font-size: 1.2rem;
        text-align: center;
        border-bottom: 1px solid #3BB3FF;
    }

    .checkbtn {
        display: block;
        margin: auto;
    }

    #check:checked~.menu-div {
        transform: translateX(0%);
    }
}

@media screen and (max-width: 625px) {
    .navbar {
        padding: 0 1rem;
    }
}

/* Body Content */

.main-container {
    background-color: #e0f5ff;
    padding: 5rem;
}

.about-acm-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.about-acm-div span {
    color: #e49000;
}

.about-acm-div h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

#awards {
    flex-direction: column;
}

.about-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 5rem;
}

.about-info img {
    width: 15rem;
}

.about-info p {
    text-align: justify;
}

/* Footer */

footer {
    width: 100%;
    height: 25rem;
    background-color: #0E0F23;
    color: #ffffff;
    position: relative;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    padding: 3rem;
    font-family: "Be Vietnam pro", sans-serif;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 19rem;
}

.contact div {
    width: 19rem;
}

.contact h3 {
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.contact img {
    width: 15rem;
}

.location i {
    padding: 0.6rem 0.8rem;
}

.location:hover i {
    color: #0288FE;
    border-radius: 2rem;
    color: #ffffff;
    transition: 0.6s;
    background-image: linear-gradient(125deg, #3a37db, #007ef4, #4e50ff);
}

.email i {
    padding: 0.6rem 0.8rem;
}

.email:hover i {
    color: #0288FE;
    border-radius: 2rem;
    color: #ffffff;
    transition: 0.6s;
    background-image: linear-gradient(125deg, #e01a00, #ff2c10);
}

.social-icons {
    display: flex;
    font-size: 1.3rem;
}

.social-icons a {
    padding: 0.6rem 0.8rem;
}

.social-icons a:hover {
    border-radius: 2rem;
    color: #ffffff;
    transition: 0.6s;
}

.social-icons .instagram {
    color: #E20461;
}

.social-icons .instagram:hover {
    background-image: linear-gradient(125deg, #BB01AD, #ee004f);
}

.social-icons .linkedin {
    color: #5698FF;
}

.social-icons .linkedin:hover {
    background-image: linear-gradient(125deg, #00588b, #0b95e6);
}

.social-icons .facebook {
    color: #6ca4ff;
}

.social-icons .facebook:hover {
    background-image: linear-gradient(125deg, #00588b, #0b95e6);
}

.social-icons .telegram {
    color: #6ca4ff;
}

.social-icons .telegram:hover {
    background-image: linear-gradient(125deg, #00588b, #0b95e6);
}

.social-icons .youtube {
    color: #FE2103;
}

.social-icons .youtube:hover {
    background-image: linear-gradient(125deg, #b31500, #ff290d);
}

.social-icons .twitter {
    color: #0288FE;
}

.social-icons .twitter:hover {
    background-image: linear-gradient(125deg, #00588b, #0b95e6);
}

.social-icon-div h3 {
    padding: 0 0.8rem;
}

footer>p {
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer>p span {
    font-weight: bold;
    color: #3bb3ff;
}

/* Media Querie - Footer */

@media screen and (max-width: 1167px) {
    .footer {
        gap: 0rem;
    }

    .main-container {
        padding: 5rem 0;
    }
}

@media screen and (max-width: 950px) {
    .contact img {
        width: 14rem;
    }

    .contact div {
        width: 16rem;
    }

    .contact {
        width: 16rem;
    }

    .social-icons a {
        padding: 0.6rem 0.6rem;
    }
}


@media screen and (max-width: 769px) {
    .about-info {
        flex-direction: column;
        padding: 0 3rem;
    }

    #about-info2 {
        flex-direction: column-reverse;
    }

    footer {
        height: 44rem;
    }

    .footer {
        flex-direction: column;
        gap: 2rem;
    }

    .contact {
        width: 30rem;
    }

    .contact div {
        width: 29rem;
        text-align: center;
    }

    .social-icon-div h3 {
        padding: 0;
    }

    .social-icons {
        justify-content: center;
    }

    .about-acm-div h2 {
        text-align: center;
    }
}

@media screen and (max-width: 501px) {
    footer>p {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer>p span {
        margin-left: 0.3rem;
    }

    .contact div {
        width: 16rem;
    }

    .location i {
        padding: 0;
    }

    .email i {
        padding: 0;
    }

    .contact {
        width: 0;
    }
}

@media screen and (max-width: 501px) {

    .about-info {
        padding: 0;
    }
}